name: CD

on:
  workflow_run:
    workflows: ["CI"]
    types: [ completed ]

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Inyectar versi칩n de despliegue
        run: echo "APP_VERSION=${GITHUB_SHA}" >> $GITHUB_ENV

      - name: Ejecutar despliegue en Render
        id: deploy_step
        continue-on-error: true
        run: |
          RESPONSE=$(curl -s -o output.json -w "%{http_code}" "$RENDER_DEPLOY_HOOK")
          echo "HTTP_CODE=$RESPONSE" >> $GITHUB_OUTPUT

      - name: Verificar si fall칩 el deploy
        if: ${{ steps.deploy_step.outputs.HTTP_CODE != '200' }}
        run: echo "El deploy fall칩. Se iniciar치 rollback."

      - name: Forzar fallo en CD
        run: exit 1

      - name: Ejecutar rollback
        if: ${{ steps.deploy_step.outputs.HTTP_CODE != '200' }}
        uses: actions/github-script@v7
        with:
          script: |
            const serviceId = process.env.RENDER_SERVICE_ID;
            const failedDeployId = "deploy_failed";
            await github.rest.actions.createWorkflowDispatch({
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: "rollback.yml",
              ref: "main",
              inputs: {
                serviceId,
                failedDeployId
              }
            });
        env:
          RENDER_SERVICE_ID: ${{ secrets.RENDER_SERVICE_ID }}

    env:
      RENDER_DEPLOY_HOOK: ${{ secrets.RENDER_DEPLOY_HOOK }}
