name: CD - Deploy to Render

on:
  push:
    branches:
      - main

jobs:
  deploy:
    needs: ci   # <<< Esto indica que primero debe ejecutarse CI y pasar correctamente
    runs-on: ubuntu-latest

    steps:
      - name: Trigger Render Deploy Hook
        run: |
          curl -X POST "${{ secrets.RENDER_DEPLOY_HOOK }}"
